%section.composer{ class: local_assigns[:composer_class] }
  .composer__heading
    %h2= title
    %p= description

  = form_with url: messages_path, method: :post do |form|
    = form.hidden_field :community_id, value: community_id
    = form.hidden_field :parent_message_id, value: parent_message_id

    .field-row
      %label
        %span= t("messages.composer.username")
        = form.text_field :username, required: true, placeholder: "your_name"

    %label
      %span= textarea_label
      = form.text_area :content, rows: 4, required: true, placeholder: textarea_placeholder

    .composer__actions
      = form.submit submit_label, class: "primary-button"
