.reaction-row
  = form_with url: reactions_path, method: :post do |form|
    = form.hidden_field :message_id, value: message.id
    = form.hidden_field :context, value: (controller_name == "messages" ? "thread" : "community")

    - Reaction::REACTION_TYPES.each do |reaction_type|
      %button.reaction-button{ type: "submit", name: "reaction_type", value: reaction_type }
        %span= reaction_label(reaction_type)
        %strong= counts[reaction_type]

    %label.reaction-user
      %span= t("messages.reactions.react_as")
      = form.text_field :username, placeholder: t("messages.reactions.username_placeholder")
